#login input {
	max-width: 250px;
}

#login button {
	max-width: 75px;
}

#login .login-box {
	background-color: rgba(245, 245, 245, 0.65);
}

#login .signup-box {
	background-color: rgba(245, 245, 245, 0.65);
}

.bg-image {
	background-image: url(https://picsum.photos/500/500);
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
	color: white;
}
